* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #181820;
}
  
  
header {
    background: yellow;    
    height: 65vh;
}

a {
    text-decoration: none;
    color: black;
    
}

.menu {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.imgLogo1{
    height: 150px;
}
  
.menu li {
    margin-left: 10px;
}
  
.menu li a {
    display: block;
    border-radius: 3px;
    font-size: 0.9rem;
    margin-right: 30px;
}

.menu li .options{
    margin-top: 68px;
}

.menu li .options:hover {
    background-color: #E8E800;
    
    
    
}

header > .sectionConteudoHeader{
    /*padding-top: 40px;
    background-color: #E8E800;      
    margin:auto;
    max-width: 600px;
    min-width: 300px;
    min-height: 300px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;*/
    display: flex;
    margin: auto;
    min-width: 300px;
    text-align: justify;
    max-width: 750px;
    margin-left: 125px;
    margin-bottom: 30px;
    padding: 20px;
    color: black;
}



header .sectionConteudoHeader .container {
    width: 50%;
}

header .sectionConteudoHearder .container h1{
    font-size: 2.0rem;
    text-shadow: #00000056 2px 3px ;
}

header .sectionConteudoHeader .imgLampadaCerebro {
    height: 250px;
}

main {
    min-width: 300px;
    max-width: 1150px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    color: white;   
    /*background-color: #1e1e2c;*/

}

main p {
    text-align: justify;
    font-size: 1.1rem;
}

main .sectionImgTexto {
    /*background-color: tomato;*/
    display: flex;  
    flex-wrap: wrap;
}


main .sectionImgTexto .teste {
    background-color: green;
}

main .sectionImgTexto div:nth-child(1) .imgLearning{
    width: 400px;
}

main .sectionImgTexto div:nth-child(2){
    max-width: 740px;
    padding-left: 10px;
}




