body{
    background: linear-gradient(45deg, yellow, DimGrey);    
    background-repeat: no-repeat;    
    height: 98.34vh;    
    min-width: 98vw;    
    display: flex;    
    align-items: center;    
    justify-content: center;
}

div.box{
    background: white;
    width: 1400px;
    max-width: 1500px;
    min-height: 700px;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.Logo{
    height: 200px;
    width: 300px;
    cursor: pointer;
}
header{
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
}
header h1{
    align-self: center;
    justify-self: center;
    transform: translateX(75%);
}
h1{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

div.ajuda{
    display: flex;    
    align-items: center;    
    justify-content: center;
    font-size: 1.8rem;
    font-weight: bold;
}