* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #181820;
}
  
  
header {
    background: yellow;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    min-height: 380px;
    /*padding: 7px;*/
}
  
header > h1{
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

.imgLogo1{
    height: 150px;
}

.menu {
    display: flex;
    padding-top: 10px;
    max-width: fit-content;
}
  
.menu li {
    margin-left: 10px;
}
  
.menu li a {
    display: block;
    padding: 5px;
    border-radius: 3px;
}

.menu li .options{
    margin-top: 68px;
    
}

.menu li .options:hover {
    background-color: #E8E800;
}

header > .divConteudo{
    padding-top: 40px;
    /*background-color: #E8E800;*/
    margin: auto;
    max-width: 600px;
    min-width: 300px;
    min-height: 300px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #181820;
    color: white;

}

