*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
}

body{
    background-color: #181820;    
    background-repeat: no-repeat;         
    align-items: center;    
    justify-content: center;
}

header {
    height: 100px;
    padding: 50px 0px 0px 100px;
    transition: 0.5s;
}

header button {
    border: solid 2px yellow;
    background: none;
    color: rgb(255, 255, 97);
    padding: 10px;
    border-radius: 15px;
    transition: all 0.5s ease;
}

header button:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 97);
    color: #181820;
    border: solid 2px rgb(85, 85, 0);

}

.calendario{
    background: white;
    width: 1400px;
    max-width: 1500px;
    min-height: 700px;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    margin: auto;
    margin-top: 50px;
}





